<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="form-container user-container">
            <h1>Track Stats</h1>
            <select id="platformInput">
                <option value="psn">Playstation</option>
                <option value="xbl">Xbox</option>
                <option value="origin">PC</option>
            </select>
            <input type="text" id="gamerTagInput" placeholder="Gamertag">
            <button id="submitBtn">Submit</button>
        </div>
    </div>

    <script>
        const ajax_post = (url, data, type, progress) => {

            const xhr = new XMLHttpRequest()
            xhr.open('POST', url, true)
            //JSON PAYLOAD
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.responseType = type ? type : 'json' //arraybuffer, application/json plain/text
            // xhr.onreadystatechange = () => {
            //     if (xhr.readyState == 4 && xhr.status == 200) {
            //         console.log(">>>>>>>>", xhr.response)
            //         callback(xhr.response)

            //     }

            // }
            if (progress)
                xhr.onprogress = progress // e.loaded the bytes the browser received

            xhr.send(data)
        }


        const $ = id => document.getElementById(id),
            submitBtn = $("submitBtn"),
            platform = $("platformInput"),
            gamerTag = $("gamerTagInput")


        submitBtn.addEventListener('click', () => {
            const data = {
                'gamertag': gamerTag.value,
                'platform': platform.value
            }
            const jsonSt = JSON.stringify(data)
            ajax_post('/handler', jsonSt)
        })
    </script>
</body>

</html>