<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Track Stats</h1>
                <select class="select_platform">
                    <option value="psn">Playstation</option>
                    <option value="xbl">Xbox</option>
                    <option value="origin">PC</option>
                </select>
                <input type="text" placeholder="Gamertag">
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>

</html>